.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);

  height: 80px px;
  background: #fff;
  padding: 0 20px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 150px;
}

/* .card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
} */

.card:hover {
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.card {
  padding: 20px 20px 57px;
  margin: 10;
  border: 1px solid #fff;
  contain: content;
  width: 250px;
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
